<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Erro</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="error-container">
        <h1>Ops! Algo deu errado</h1>
        <p><%= error %></p>
        <a href="/" class="btn">Voltar para Home</a>
    </div>
</body>
</html> 